body {
  font-family: "Monotype Corsiva",cursive;
  overflow: hidden;
  font-size: 19px;
}

#paper-back {
  width: 100%;
  height: 100vh;
  background-image:url(../image/bam.jpg);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 33px;

}
#paper-back nav {
  padding: 120px 34px;
}
#paper-back nav a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 27px;
  font-family: 'Architects Daughter', sans-serif;
}

#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}
#paper-window.tilt {
  overflow: hidden;
  pointer-events: none;
}
#paper-window.tilt #paper-front {
  -webkit-transform: rotate(10deg) translateZ(0);
  transform: rotate(10deg) translateZ(0);
}

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: center 70%;
  transform-origin: center 270%;
  background-color: wheat;
  background-image: url('../image/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#container section {
  height: 295px;
  text-align: center;
}
#container section:first-of-type {
  padding-top: 10vh;
}
#container section:first-of-type h1 {
  font-size: 45px;
}
#container section:first-of-type p {
  font-size: 18px;
}
@media (max-width: 600px) {
  #container section:first-of-type {
    padding-top: 15vh;
  }
  #container section:first-of-type h1 {
    font-size: 30px;
  }
  #container section:first-of-type p {
    font-size: 18px;
  }
}
#container section:nth-of-type(2n) {
  background-color: wheat;
  background-image: url('../image/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger span {
  position: relative;
}
.hamburger span, .hamburger span:before, .hamburger span:after {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #243040;
  border-radius: 2px;
}
.hamburger span:before, .hamburger span:after {
  content: '';
  position: absolute;
}
.hamburger span:before {
  bottom: -14px;
}
.hamburger span:after {
  bottom: -28px;
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
}
.close:before, .close:after {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 6px;
  top: 50%;
  background-color: white;
  border-radius: 2px;
}
.close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
* {
  outline:none;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Courier, monospace;
}
body {
  background-color: black;
}
#paper {
  color:black;
  font-size:20px;
  margin-top: -35px;
}
#margin {
  margin-left: -40%;
  margin-bottom: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#text {
  width:500px;
  color:#222;
  font-family:"Monotype Corsiva",cursive;
  font-weight:bold;
  font-size:25px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(../image/a.jpg);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  word-wrap: break-word;
  height: 450px;
}
#title {
  background-color:transparent;
  border-bottom:3px solid black;
  font-weight: bold;
  color:red;
  font-size:20px;
  font-family:Courier, monospace;
  height:28px;
  font-weight:bold;
  width:30%;
}

.card{
  position: absolute;
  top: 12%;
  right: 2%;
}

#button {
  font-family: inherit;
  font-size: inherit;
  top: 28%;
  right: 3.7%;
  background-color: ghostwhite;
  border: black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 100ms;
  position: absolute;
  float: right;
  width: 14%;
  height: 7%;
  font-weight: bold;
  box-shadow: 5px 9px 5px #62add6;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width: 700px;
  height: auto;
  margin: auto;
}




body,
html {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: rgb(242, 242, 242);
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 16, 0.8);
  font-weight: 700;
  padding: 0;
  margin: 0;
}



.card {
  display: flex;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  padding: 0rem;
  width: 28rem;
}

.rating-container {
  display: grid;
  top: 15%;
  position: absolute;
  right: 1%;
  -webkit-box-pack: justify;
  justify-content: right;
  padding: -2.6rem 0.8rem;
  width: 50%;
}

.rating-text p {
  color: rgba(0, 0, 16, 0.8);
  font-size: 1.3rem;
  padding: 0.3rem;
}

.rating {
  background-color: rgba(0, 0, 16, 0.8);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

svg {
  fill: rgb(242, 242, 242);
  height: 3.2rem;
  width: 2.3rem;
  margin: -0.2rem;
}





input[type="radio"] {
  position: absolute;
  opacity: 0;
}



input + svg {
  cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
  fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
  fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
  fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
  fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
  fill: rgb(239, 42, 16);
}

@media screen and (max-height: 550px) {
  body,
  html {
    font-size: 0.6rem;
  }
  header h1 {
    font-size: 4.6em;
  }
  footer p {
    font-size: 3em;
  }
}






